<!DOCTYPE html>
<!-- Declare ng-app to make sure this is angularjs app and the scope of the angularjs functions should start from the
html tag -->
<html lang="en" ng-app="employeeApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>4-add-delete-employee.html</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="../resources/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <link href="../resources/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">


    <script>

        var model = {
            username: "Arun",
            items: [
                {
                    "id": 1,
                    "age": 27,
                    "eyeColor": "brown",
                    "name": "Mildred Giles",
                    "gender": "female",
                    "company": "VIASIA",
                    "email": "mildredgiles@viasia.com",
                    "phone": "+1 (944) 491-3267",
                    "address": "427 Dahlgreen Place, Homeland, Kansas, 7406",
                    "valid": true
                },
                {
                    "id": 2,
                    "age": 31,
                    "eyeColor": "green",
                    "name": "Stevenson Higgins",
                    "gender": "male",
                    "company": "VIRVA",
                    "email": "stevensonhiggins@virva.com",
                    "phone": "+1 (874) 434-2786",
                    "address": "650 Chauncey Street, Titanic, Wyoming, 5597",
                    "valid": false
                },
                {
                    "id": 3,
                    "age": 31,
                    "eyeColor": "brown",
                    "name": "Geneva Schneider",
                    "gender": "female",
                    "company": "VISALIA",
                    "email": "genevaschneider@visalia.com",
                    "phone": "+1 (881) 466-2258",
                    "address": "276 Blake Court, Takilma, Oklahoma, 6333",
                    "valid": true
                },
                {
                    "id": 4,
                    "age": 38,
                    "eyeColor": "brown",
                    "name": "Hull Harvey",
                    "gender": "male",
                    "company": "NAXDIS",
                    "email": "hullharvey@naxdis.com",
                    "phone": "+1 (886) 402-3793",
                    "address": "292 Gerritsen Avenue, Farmers, Arkansas, 6036",
                    "valid": true
                },
                {
                    "id": 5,
                    "age": 26,
                    "eyeColor": "blue",
                    "name": "Erica Mays",
                    "gender": "female",
                    "company": "INQUALA",
                    "email": "ericamays@inquala.com",
                    "phone": "+1 (862) 411-3060",
                    "address": "384 Ludlam Place, Winchester, Georgia, 864",
                    "valid": true
                },
                {
                    "id": 6,
                    "age": 33,
                    "eyeColor": "green",
                    "name": "Pollard Ewing",
                    "gender": "male",
                    "company": "OLUCORE",
                    "email": "pollardewing@olucore.com",
                    "phone": "+1 (981) 485-4000",
                    "address": "382 Norman Avenue, Dante, Indiana, 9611",
                    "valid": false
                }
            ]

        };
        /* This is like defining the module and any associated modules to be loaded, typically like a package name, and the associated imports if any in an array */
        var employeeApp = angular.module("employeeApp", []);

        employeeApp.controller("employeeController", function ($scope) {
                    $scope.employeeModel = model;
                    $scope.selectedId = 0;
                    $scope.validCount = function () {
                        var count = 0;
                        angular.forEach($scope.employeeModel.items, function (item) {
                            if (item.valid) {
                                count++
                            }
                        });
                        return count;
                    }

                    $scope.findTotal = function () {
                        return $scope.employeeModel.items.length;
                    }

                    $scope.add = function (employeeObj) {
                        $scope.employeeModel.items.push(employeeObj);
                    }

                    $scope.remove = function () {
                        var index = null;
                        $scope.employeeModel.items.forEach(function (item, i) {
                            if (item.id ==  $scope.selectedId ) {
                                index = i;
                            }
                        });
                        console.log("Selected Index to Remove :" + index);
                        $scope.employeeModel.items.splice(index, 1);
                        $('#deleteConfirmationModal').modal('hide');
                    }

                    $scope.deleteConfirmationModal = function (id) {
                        $('#deleteConfirmationModal').modal('show');
                        $scope.selectedId = id;
                    }
                }
        );



    </script>
</head>
<!-- Define the controller which will work on this scope -->
<body ng-controller="employeeController">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color:white;font-weight:bold;">Angular JS for Java Developers Sample
                Tutorials</a>
        </div>
    </div>
</nav>

<div style="margin:50px;">
    <hr/>
    <div style="height:50px;width:100%">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
            Add Employee
        </button>
    </div>
    <table class="table table-hover">
        <caption><strong>List of Employees. Total:{{findTotal()}}, Valid Employees:{{validCount()}} </strong></caption>
        <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Eye Color</th>
            <th>Gender</th>
            <th>Company</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Still Employed?</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="model in employeeModel.items">
            <td><a href="#" ng-click="deleteConfirmationModal(model.id)"><img src="../resources/custom/Delete-icon.png" width="16px"
                                                                 height="16px"/></a></td>
            <td>{{model.id}}</td>
            <td>{{model.name}}</td>
            <td>{{model.age}}</td>
            <td>{{model.eyeColor}}</td>
            <td>{{model.gender}}</td>
            <td>{{model.company}}</td>
            <td>{{model.email}}</td>
            <td>{{model.phone}}</td>
            <td>{{model.address}}</td>
            <td><input type="checkbox" ng-model="model.valid" disabled/></td>
        </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete Employee?</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the selected employee with ID {{selectedId}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="remove();">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>